@font-face {
  font-family: "Playfair display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

:root {
  --font-light-dark: #fdf4ff;
  --font-dark-dark: #374151;
  --bg-color: #4a044e;
  --dark-bg: #020617;
}

body {
  max-height: fit-content;
  min-height: 100vh;
  min-width: fit-content;
  max-width: 98.8vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  color: var(--font-light-dark);
  background-color: var(--dark-bg);
}

#root {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}