.header {
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
  overflow: hidden;
  position: relative;
}

.background {
  background-color: var(--bg-color);
  min-width: 1600px;
  height: 800px;
  transform: rotate(-10deg) translateY(-40%) translateX(-5%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pic-about-container {
  height: 500px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  animation: slide-down .5s ease-out;
}

.profile-pic {
  height: 100%;
  width: 30%;
  box-shadow: 1px 1px 10px #64748b;
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  color: var(--font-light-dark);
  font-size: 30px;
  font-family: "Playfair Display";
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/IMG_20230305_080744_514~3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 10px;
}

.about {
  height: 87%;
  width: 70%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #64748b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about h1 {
  font-size: 40px;
  font-family: "Playfair Display";
}

.about p {
  font-size: 22px;
  font-family: Roboto;
  color: var(--font-dark-dark);
}

.about div {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 40px;
}

.about div a {
  text-decoration: none;
}















@media (max-width: 950px) {
  .header {
    min-height: 80vh;
    padding: 0 30px;
  }

  .background {
    min-width: 1400px;
    height: 800px;
  }

  .pic-about-container {
    height: 400px;
    width: 100%;
  }

  .profile-pic {
    height: 80%;
    width: 35%;
    left: 0;
    top: 0;
    font-size: 25px;
  }

  .profile-pic h2 {
    position: absolute;
    top: 0;
    left: 200px;
    width: 500px;
  }

  .about {
    justify-content: center;
    gap: 0px;
    padding: 15px;
    width: 65%;
  }

  .about h1 {
    font-size: 35px;
  }

  .about p {
    font-size: 15px;
  }

  .about div {
    font-size: 30px;
    display: none; 
  }
}















@media (max-width: 500px) {
  .header {
    padding: 0;
    padding-top: 50px;
    min-width: 99.8vw;
    max-width: 99.8vw;
  }

  .background {
    min-width: 1000px;
    transform: rotate(-35deg) translateY(-80%) translateX(-5%);
  }

  .pic-about-container {
    min-height: 1000px;
    max-height: fit-content;
    width: 99.8vw;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-pic {
    height: 470px;
    width: 85%;
    position: static;
  }

  .profile-pic h2 {
    position: static;
    width: fit-content;
  }

  .about {
    min-height: 400px;
    max-height: 500px;
    width: 100%;
    padding: 20px;
    box-shadow: none;
  }

  .about h1 {
    font-size: 30px;
    text-align: center;
  }

  .about p {
    font-size: 20px;
  }

  .about div {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
  }
}