.header {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 0 90px;
  position: relative;
  background-color: var(--dark-bg);
  animation: slide-down 2s;
}

@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.profile-pic {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 20px var(--theme-color);
}

.heading-and-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.heading {
  font-size: 56px;
  line-height: 0px;
  color: #ffffff;
}

.highlight {
  color: var(--theme-color);
}

.sub-heading {
  font-size: 36px;
  line-height: 0px;
}

.description {
  font-size: 16px;
}













@media (max-width: 1054px) {
  .header {
    padding: 0 50px;
    padding-top: 50px;
    gap: 10px;
  }

  .profile-pic {
    height: 300px;
    width: 300px;
  }
  
  .heading {
    font-size: 36px;
  }
  
  .sub-heading {
    font-size: 18px;
  }
  
  .description {
    font-size: 14px;
  }
  
  .social-icons-container {
    gap: 24px;
  }
}















@media (max-width: 680px) {
  .header {
    padding: 0;
    padding-top: 100px;
    flex-direction: column;
    gap: 30px;
    min-height: fit-content;
  }

  .profile-pic {
    height: 250px;
    width: 250px;
  }

  .heading-and-description-container {
    align-items: center;
    padding: 0 30px;
  }
  
  .heading {
    font-size: 36px;
  }
  
  .sub-heading {
    font-size: 18px;
  }
  
  .description {
    font-size: 14px;
    text-align: center;
  }
  
  .social-icons-container {
    gap: 24px;
  }
}